body {
  margin: 0;
  padding: 0;
  background-color: #0d0d0d;
  color: #ffffff;
  font-family: 'Segoe UI', sans-serif;
}

h2 {
  text-align: center;
  margin-top: 40px;
  font-size: 2rem;
  border-bottom: 2px dashed #999;
  display: inline-block;
}

.about-section {
  text-align: center;
  margin: 50px 20px;
}

.quote {
  font-size: 1rem;
  margin-top: 20px;
  line-height: 1.6;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.quote-mark {
  font-size: 2rem;
  color: #ccc;
}
.skills-section {
  text-align: center;
  padding: 40px 20px;
  background-color: black;
}

.skills-section h2 {
  font-size: 2rem;
  margin-bottom: 30px;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columns */
  gap: 70px;
  justify-items: center;
  align-items: center;
  max-width: 900px;
  margin: 0 auto;
}


.skill-card {
  background-color: rgba(0, 0, 0, 0.05);
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border: 2px solid gray;
  width: 200px;
  height: 280px;
  transition: transform 0.3s ease;
}

.skill-card:hover {
  transform: scale(1.05);
}

.skill-card img {
  width: 60px;
  height: 60px;
  object-fit: contain;
  margin-bottom: 10px;
}

.skill-card .number {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 10px;
  display: block;
}

.skill-card button {
  margin-top: 10px;
  padding: 8px 16px;
  font-size: 1rem;
  background-color: rgb(71, 71, 206);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.skill-card button:hover {
  background-color: rgb(50, 50, 180);
}

